/* General App Styles */
.live-betting {
  font-family: Arial, sans-serif;
  text-align: center;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-list li {
  margin: 0 20px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #444;
  border-radius: 5px;
}

.navbar-list li.active {
  font-weight: bold;
  color: #4CAF50;
  background-color: #555;
}

.navbar-list li:hover {
  background-color: #555;
  border-radius: 5px;
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.event-card img {
  width: 100%;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

input[type="number"], input[type="checkbox"] {
  margin-top: 5px;
}
